@import './base.css';
@import "tailwindcss";


@font-face {
  font-family: 'FiraCode';
  src: url('font/fira-code/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}